body{
    padding: 0px;
    margin: 0px;
    min-width: 1200px;
    background: #ffffff;
    font-family: 'Kanit', sans-serif;
    /* font-family: 'Athiti', sans-serif; */
    font-size: 18px;
    overflow-x: hidden;
    color: #2b2b2b;
}

h1{
    font-weight: 300;
    font-family: 'Sriracha', cursive;
    color: #3e7081;
}

a{
    color: #2a5766;
    text-decoration: none;
}

.main-header{
    position: absolute;
    width: 100%;
    color: #3A3A3A;
    padding: 20px 0px;
    z-index: 99;
}

.header-top{
    padding: 20px 0px;
    padding-bottom: 6px;
}

.main-header .brand{
    text-align: center;
    float: left;
}

.header-menu{
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
}

.main-menu{
    list-style: none;
    color: #ffffff;
    margin: 0px;
    display: table;
    padding: 0px;
    float: right;
}

.main-menu li{
    float: left;
    letter-spacing: 0.02em;    
    position: relative;
    line-height: 1.6em;
}

.main-menu li a{
    color: #ffffff;
    font-weight: 600;
    letter-spacing: 1px;
    text-decoration: none;
    margin: 0 10px;
    line-height: 50px;
    display: block;
    position: relative;
    font-weight: 900;
    font-size: 19px;
}

.container{
    width: 1200px;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.clearfix::after{
    content: "";
    clear: both;
    display:block;
}

.hero-intro h1{
    color: #3e7081;
    font-family: 'Sriracha', cursive;
}

.hero-image-container{
    position: relative;
    height: 532px;
}

.hero-image-bg{
    position: relative;
    height: 100%;
    background-size: cover;
    background-position: center top;
    border-radius: 0px 0px 0px 10px;
    transition: opacity 500ms ease-out 0s;
}

.hero-image-slider{
    display: block;
}

.hero-wrapper{
    position: relative;
    z-index: 0;
    height: 710px;
    background: #ffffff;
}

.hero-wrapper .container{
    height: 100%;
}

.hero-intro{
    position: relative;
    width: 30%;
    float: left;
    top: 20%;
    line-height: 1.6em;
}

.hero-image{
    position: absolute;
    right: 0;
    top: 0;
    width: 60%;
    height: 100%;
}

.hero-image-picker{
    overflow: hidden;
    position: absolute;
    bottom: -100px;
    width: 100%;
    left: 40px;
    z-index: 99;
}

.hero-image-slider{
    list-style: none;
    display: flex;
    position: relative;
    left: -50px;
}

.hero-image-slider-item,
.image-slider-item{
    border-radius: 5px;
    height: 130px;
    width: 200px;
    margin: 10px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
    overflow: hidden;
}

.image-slider-item-text{
    position: absolute;
    background: rgba(0, 0, 0, 0.45);
    height: 100%;
    width: 100%;
    top: 0;
    color: #ffffff;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-shadow: 2px 3px 4px rgba(0, 0, 0, 0.8);
}

.image-slider-item-text span{
    display: block;
}

.image-slider-item-text .title{
    font-size: 30px;
    font-weight: bold;
    line-height: 30px;
}

.image-slider-item-text .flag-icon{
    width: 40px !important;
    height: 40px;
    margin: 10px;
    border: 3px solid #f6f6f6;
    border-radius: 50%;
    overflow: hidden;
}

.hero-image-slider-item img{
    width: 100%;
    height: 100%;
}

.hero-button{
    padding: 15px;
    background: #3e7081;
    display: block;
    float: left;
    text-indent: -10em;
    width: 15px;
    height: 15px;
    overflow: hidden;
    border-radius: 50%;
    margin: 0px 5px;
    box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.6);
    line-height: 15px;
}

#heroprevious::after{
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: relative;
    top: -14px;
    background-image: url('../assets/icons/back.svg');
    background-size: contain;
    background-repeat: no-repeat;
    left: -2px;
}

#heronext::after{
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: relative;
    top: -14px;
    background-image: url('../assets/icons/next.svg');
    background-size: contain;
    background-repeat: no-repeat;
    right: -2px;
}

.current-hero-item .hero-image-slider-item{
    /* border: 5px solid #FFFFFF; */
}

.main-section{
    padding: 50px 0px;
    background: #f3f3f3;
}

.image-slider-container{
    overflow: hidden;
}

.image-slider-container .image-slider{
    list-style: none;
    display: flex;
    padding: 0px;
    margin: 0px;
    position: relative;
    left: -10px;
}

.image-slider-container .image-slider li{
    float: left;
}

.image-slider-container .image-slider .image-slider-item{
    background: grey;
    height: 200px;
    width: 300px;
    display: block;
    margin: 10px;
    border-radius: 5px;
    position: relative;
}

.image-slider-container .image-slider .image-slider-item img{
    width: 100%;
}

/* article */
.article-hero-image {
    height: 450px;
    overflow: hidden;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: -99;
}

.article-hero-image img{
    width: 100%;
    height: auto;
    transform: translate(0%, -40%);
}

.city-wrapper{
    position: relative;
    top: -150px;
    min-height: 500px;
    margin-bottom: -100px;
}

.city-wrapper .card{
    background: #ffffff;
    border-radius: 3px;
    padding: 50px;
    box-shadow: 0px 0px 18px 1px rgba(0, 0, 0, 0.5);
}

.city-wrapper h1{
    margin: 0px;
}

.city-wrapper .subtitle{
    margin: 0px;
    color: #3e7081;
    letter-spacing: 4px;
}

.city-wrapper p{
    text-indent: 3.4em;
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 19px;
    line-height: 1.8em;
    padding: 0px 60px;
    color: #181818;
}

.city-wrapper .flag-icon,
.travel-list .flag-icon{
    height: 23px;
    width: 23px;
    position: relative;
    top: 5px;
    margin-right: 10px;
}

.city-wrapper .city-content img{
    display: block;
    margin: 30px auto;
    width: 850px;
}

.city-wrapper .city-content .city-title{
    font-size: 28px;
    color: #3e7081;
    font-family: 'Athiti', sans-serif;
    font-weight: bold;
}

.travel-list{
    min-height: 500px;
    background: #cfcfcf;
    padding: 20px 30px;
    color: #ffffff;
    border-radius: 5px;
}

.main-header.overlay{
    background-image: linear-gradient(to bottom,rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0));
    color: #ffffff;
}

.travel-list-content a{
    text-decoration: none;
    color: #3A3A3A;
}

.travel-list-content ul{
    text-decoration: none;
    color: #3A3A3A;
}

.travel-list h1{
    color: #3A3A3A;
    margin-left: 15px;
    font-weight: bold;
}

.travel-wrapper .arrow-up{
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid #cfcfcf;
    position: relative;
    left: 80px;
    bottom: -3px;
}

.hero-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 99;
    top: 0;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.05) 33%, rgba(255,255,255,0) 38%, rgba(255,255,255,0) 100%);
}

.social{
    float: right;
    position: relative;
    top: 15px;
}

.title{
    float: left;
}

.social .icon{
    display: inline-block;
    height: 25px;
    width: 25px;
    background-size: contain;
    text-indent: -10em;
    overflow: hidden;
    background-repeat: no-repeat;
    margin: 8px 3px;
    position: relative;
}

.facebook-icon {
    background: url('../assets/icons/facebook.svg');
}

.twitter-icon{
    background: url('../assets/icons/twitter.svg');
    top: 1px;
}

.main-footer{
    background: #F2F2F2;
    padding: 10px 0px;
}

.main-footer .container{
    border-top: 1px solid #CCC;
    padding-top: 30px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.main-footer .right-column{
    line-height: 65px;
}


.brand-img {
    text-indent: -1000px;
    overflow: hidden;
    background-image: url('../assets/brand.svg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 165px;
    height: 55px;
}

.hero-wrapper .background,
.about-wrapper .background{
    height: 200px;
    background-image: url('../assets/bg2.png');
    background-repeat: repeat-x;
    background-size: contain;
    position: relative;
    top: -22px;
    z-index: -99;
}

.about-wrapper .background{
    top: 0px;
}

.hero-wrapper .background .bg1,
.about-wrapper .background .bg1{
    height: 100%;
    background-image: url('../assets/bg1.png');
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 65px;
}

.location-wrapper{
    height: 500px;
    background-image: url(../assets/bg3.svg);
    background-repeat: no-repeat;
    background-position: right;
}

.location-list li a{
    text-decoration: none;
    color: #3e7081;
}

.location-list li{
    margin: 10px 0px;
}

.location-list{
    color: #3e7081;
}

.main-wrapper{
    min-height: 300px;
}

/* about us */
.main-wrapper.about-wrapper{
    /* padding: 50px 0px; */
    padding-top: 100px;
    /* margin-bottom: 50px; */
}
.profile-pic{
    border-radius: 50%;
    height: 200px;
    width: 200px;
    overflow: hidden;
    margin: 10px auto;
    margin-bottom: 30px;
}

.profile-pic img{
    height: 100%;
}

.member-container{
    display: flex;
}

.member-container .card{
    width: 500px;
    border: 1px solid #ccc;
    text-align: center;
    padding: 20px;
    margin: 10px 20px;
}